# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
- List popular languages
- List commonly used libraries for Data Science
- Table Data Science Tools
- Arithmetic Expression
- Converting minutes into hours

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java
4. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R & RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [45]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [46]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kathleen